<!DOCTYPE html>
<html>
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <h1>Verify your email address</h1>
    <p>
      Click on the following link to verify your email address:
      <a href="<%= token %>">Verify Email</a>
    </p>
    <p>
      If you do not click on the link within 24 hours, you will need to request a new verification
      email.
    </p>
  </body>
</html>
