<!DOCTYPE html>
<html>
  <head>
    <title>Tạo lại mật khẩu</title>
  </head>
  <body>
    <h1>Tạo lại mật khẩu</h1>
    <p>
      Ấn vào đường link sau để tạo lại mật khẩu:
      <a href="<%= token %>">Tạo lại mật khẩu</a>
    </p>
    <p>
      Nếu bạn không ấn vào đường link trong vòng 5 phút, bạn sẽ cần phải yêu cầu một email cấp lại
      mật khẩu mới.
    </p>
  </body>
</html>
